<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igor Farias</title>
    <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/Designer.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/Foto_Igor2.JPG" alt="Foto do Igor">
            <h1>Igor Farias</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/igor-jose-farias-24942227a/" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <a href="https://github.com/Igorio29" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/1g0r._.007/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100011663838237" target="_blank"><i
                        class="bi bi-facebook"></i></a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i>ㅤInicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobremim"><i class="bi bi-person"></i>ㅤSobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>ㅤHabilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> ㅤCurriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i>ㅤPortfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-telephone"></i>ㅤContato</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Igor Farias</h2>
                <span id="subtitle" class="text-white text-shadow">Dev Junior & Estudante</span>
            </div>

            <div class="col-md-6 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobremim">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section id="sobremim" class="text-white container p-5">
            <div class="row">
                <h1 data-anime="down">Sobre mim:</h1>
                <div class="col-md-12" data-anime="down">
                    <p>Olá meu nome é Igor Jose Farias, tenho 17 anos e estudo programação desde de 2023. Embora esteja
                        no
                        começo da
                        minha carreira, sou extremamente dedicado e apaixonado por aprender e aprimorar minhas
                        habilidades.
                        que me permitam crescer como profissional. <br>
                        Meu foco atual é aprender C#, JavaScript e Python, e estou sempre em busca de novos desafios que
                        me
                        permitam crescer como profissional.
                        <br> <br>
                        Estou animado para contribuir com projetos reais e trazer soluções criativas e funcionais. Se
                        você
                        está em busca de alguém com muita disposição para aprender e trabalhar em equipe, ficarei feliz
                        em
                        colaborar. Vamos conversar!
                    </p>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="../static/img/Foto_Igor.JPG" class="img-fluid" data-anime="ok" alt="">
                    </div>
                    <div class="col-md informacoes">
                        <h2 data-anime="right">Algumas informações:</h2>
                        <ul class="lista">
                            <li data-anime="right">
                                <strong> Nascimento:</strong> 10 de Janeiro de 2007
                            </li>
                            <li data-anime="right"> <strong> Idade: </strong> 17 anos </li>
                            <li data-anime="right"> <strong> Cidade: </strong> Colombo</li>
                            <li data-anime="right"> <strong>Estado:</strong> Paraná </li>
                            <li data-anime="right"> <strong>Hobby:</strong> E-Sports</li>
                        </ul>
                        <p data-anime="right">Além de buscar me tornar um programador profissional, também tenho o
                            desejo de, no futuro,
                            lecionar em uma escola ou faculdade na área de Computação. Acredito que a educação é a base
                            para a construção de um país e de um mundo melhor. Para mim, compartilhar conhecimento vai
                            além de ensinar; é uma forma de inspirar novas gerações a desenvolverem suas habilidades e
                            contribuírem para um futuro mais inovador e consciente.

                            Tenho como objetivo não apenas crescer na área tecnológica, mas também ajudar outras pessoas
                            a alcançarem seus próprios objetivos por meio da educação, impactando positivamente a
                            sociedade.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="habilidades" class="mt-5 section-bg text-white">
            <div class="container pb-5">
                <div data-anime="left">
                    <h2 class="pt-5 ">Habilidades</h2>
                    <p>Em todo tempo como estudante de tecnologia eu adquiri algumas habilidades técnicas
                        e não técnica, a
                        maioria delas estão aqui, de acordo com a porcentagem que acredito saber como ela</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="fs-5">HTML</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>
                        <h4 class="fs-5">CSS</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>
                        <h4 class="fs-5">JavaScript</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="fs-5">C#</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">75%</div>
                        </div>
                        <h4 class="fs-5">Python</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">60%</div>
                        </div>
                        <h4 class="fs-5">Java</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="fs-5">Autoconhecimento</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>
                        <h4 class="fs-5">Inteligencia Emocional</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>
                        <h4 class="fs-5">Autoresponsabilidade</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">85%</div>
                        </div>
                        <h4 class="fs-5">Trabalho em equipe</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="fs-5">Resolução de Problemas</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>
                        <h4 class="fs-5">Liderança</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>
                        <h4 class="fs-5">Comunicação</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">75%</div>
                        </div>
                        <h4 class="fs-5">Aprendizado ágil</h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="curriculo" class="mt-5 cv text-white">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="down">
                            <h4>Ensino Médio Técnico em Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2022 - 2024</h5>
                            <p><em>Colégio Estadual Presidente Abraham Lincoln</em></p>
                            <p>Estudo de Programação Front-End, Programação Back-End, Banco de Dados, Análise e Projeto
                                de Sistemas e Computação Gráfica.</p>
                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Cursos Remotos de Programação Front-End</h4>
                            <h5>2022 - 2024</h5>
                            <p><em>ALURA</em></p>
                            <p>Estudo focado no desenvolvimento visual de sites.</p>
                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Curso de Administração</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>SENAI</em></p>
                            <p>Estudo de administração de trabalho e gestão de problemas.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="down">
                            <h4>Assistente Administrativo</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>ColomboCal</em></p>
                            <p>Trabalhei na garagem da ColomboCal, exercendo também a função de almoxarifado.</p>
                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Auxiliar de Balança</h4>
                            <h5>2023 - 2023</h5>
                            <p><em>Solofino</em></p>
                            <p>Trabalhei na balança da Solofino durante um ano, onde ajudei tanto na parte de balança
                                quanto no laboratório.</p>
                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Aprendiz de Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2024 - Atual</h5>
                            <p><em>Eliezer Mottin</em></p>
                            <p>Estou trabalhando em conjunto com Eliezer Mottin para aperfeiçoar e testar minhas
                                habilidades em uma abordagem prática.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4 text-white" >Portfólio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0"
                            class="active bg-white" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" class="bg-white"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row mr-4">
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/Maranata.png" class="card-img-top"
                                            alt="PROJETO MARANATA">
                                        <div class="card-body">
                                            <h5 class="card-title">Projeto Maranata</h5>
                                            <p class="card-text">Um sistema de gerenciamento feito em C# para um grupo
                                                de jovens, primeiro grande projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="../static/img/MARANATA.pdf" target="_blank"
                                                    class="pdf btn btn-outline-danger me-3"><i
                                                        class="bi bi-filetype-pdf"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/CAVELAB.png" class="card-img-top" alt="CaveLab">
                                        <div class="card-body">
                                            <h5 class="card-title">CaveLAB</h5>
                                            <p class="card-text">Um pequeno jogo labirinto teste feito em godot para
                                                melhor compreensão do funcionamento de um jogo.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Igorio29/CaveLab" target="_blank"
                                                    class="github btn btn-outline-dark me-3"><i
                                                        class="bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/MERN-BIBLIOTECA.png" class="card-img-top"
                                            alt="Mern Biblioteca">
                                        <div class="card-body">
                                            <h5 class="card-title">MERN biblioteca</h5>
                                            <p class="card-text">Uma biblioteca feita usando o esquema MERN: MongoDb,
                                                Express, React e Node.js.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Igorio29/mern_biblioteca" target="_blank"
                                                    class="github btn btn-outline-dark me-3"><i
                                                        class="bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/BarbeKing.png" class="card-img-top" alt="Barbe King">
                                        <div class="card-body">
                                            <h5 class="card-title">BARBE KING</h5>
                                            <p class="card-text">Uma barbearia ficticia, foi
                                                criada
                                                com intuito de aprimorar minhas habilidades em HTML e CSS.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Igorio29/Barbearia" target="_blank"
                                                    class="github btn btn-outline-dark me-3"><i
                                                        class="bi-github"></i></a>
                                                <a href="https://igorio29.github.io/Barbearia/" target="_blank"
                                                    class="btn link btn-outline-primary me-3"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/Linkedin.png" class="card-img-top" alt="LinkedIn">
                                        <div class="card-body">
                                            <h5 class="card-title">Linkedin</h5>
                                            <p class="card-text">Um site criado para apresentar um seminario sobre a
                                                plataforma Linkedin.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Igorio29/Linkedin" target="_blank"
                                                    class="github btn btn-outline-dark me-3"><i
                                                        class="bi-github"></i></a>
                                                <a href="https://igorio29.github.io/Linkedin/" target="_blank"
                                                    class="btn link btn-outline-primary me-3"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card bg-dark text-white">
                                        <img src="../static/img/NAAHS.png" class="card-img-top" alt="Projeto Naahs">
                                        <div class="card-body">
                                            <h5 class="card-title">NAAHS</h5>
                                            <p class="card-text">Um site para a
                                                sala de altas habilidades para fins de expor projetos.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Igorio29/ProjetoNaahs" target="_blank"
                                                    class="github btn btn-outline-white me-3"><i
                                                        class="bi-github"></i></a>
                                                <a href="https://igorio29.github.io/ProjetoNaahs/" target="_blank"
                                                    class="btn link btn-outline-primary me-3"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="carousel-control-prev button-carousel" type="button"
                            data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next button-carousel" type="button"
                            data-bs-target="#carouselPortfolio" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5 text-white" data-anime="">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0 section-bg text-white">
                            <div class="endereco">
                                <h5><i class="bi bi-geo-alt"></i> Localização:</h5>
                                <p>Morro Grande, PR</p>
                            </div>
                            <div class="email">
                                <h5><i class="bi bi-envelope"></i> Email:</h5>
                                <p>igorjosefarias3@gmail.com</p>
                            </div>
                            <div class="whatsapp">
                                <h5><i class="bi bi-whatsapp"></i> Whatsapp:</h5>
                                <p><a href="https://wa.me/5541985187265" class="badge badge-dark whatsapp"
                                        target="_blank">41 98518-7265</a></p>
                            </div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.524924139178!2d-49.20970068959843!3d-25.25292147581466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcdcca51689bb9%3A0xfc52a85a59ae413e!2sMorro%20Grande%2C%20Colombo%20-%20PR!5e0!3m2!1spt-BR!2sbr!4v1728668233722!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100 mt-3"></iframe>
                            <!--  <iframe src="https://www.google.com/maps/d/embed?mid=19nIB_aHkRuOlrxIvvDhJhn6hBY0VbdM&ehbc=2E312F" width="640" height="480" class="w-100 mt-3"></iframe>-->
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card p-5 h-100 shadow border-0 section-bg  text-white">
                            <form>
                                <div class="form">
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <label for="idNome">Nome:</label>
                                            <input type="text" class="form-control bg-black border-0 text-white"
                                                id="idNome" placeholder="Nome Completo" name="nome">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="idEmail">Email:</label>
                                            <input type="email" class="form-control bg-black border-0 text-white"
                                                placeholder="emailexemplo@gmail.com" id="idEmail" name="nome">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group mt-4">
                                        <label for="idMensagem">Mensagem:</label>
                                        <textarea type="text" class="form-control bg-black border-0 text-white"
                                            rows="10" id="idMensagem"
                                            placeholder="Escreva aqui sua mensagem"></textarea>
                                    </div>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-primary btn-sm btn-block mt-3">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>